@model IEnumerable<WebApplication15.Models.booking>
@{
    ViewBag.Title = "Show_Passenger";
}

<h2>Show_Passenger</h2>

<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(model=>model.person.Email)</th>
    </tr>




</table>