
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>get_data_paypal</title>
</head>
<body>
    <div>
        Checkout Paypal success !^^
    </div>
</body>
</html>
